/* 消息气泡 */
.message {
    display: block;
    margin-bottom: 50px;
    padding: 10px;
    border-radius: 10px;
}

.user-bubble-container {
    display: inline-flex;
    flex-direction: row;
    float: right;
    clear: both;
    max-width: 80%;
}

.bot-bubble-container {
    display: inline-flex;
    flex-direction: row;
    float: left;
    clear: both;
    max-width: 80%;
}

.avatar-icon {
    width: 40px;
    height: 40px;
}

.user-message {
    background-color: darkseagreen;
    min-height: 40px;
    display: flex;
    flex-direction: column;
    margin-right: 5px;
    justify-content: center;
    align-items: center;
    margin-top: -10px;
}

.bot-message {
    /*background-color: #e1e1e1;*/
    background-color: hsla(214, 53%, 23%, 0.16);
    min-height: 40px;
    display: flex;
    flex-direction: column;
    margin-left: 5px;
    margin-top: -10px;
}

.hello-message {
    height: 50px;
    align-items: center;
    justify-content: center;
    display: flex;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

/* 底部输入框 */
.user-input {
    width: calc(100% - 150px);
    height: 33px;
    text-decoration: none;
    background-color: rgb(236, 233, 240);
    color: black;
    border: none;
    margin-left: 5px;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 5px;
}

.bottom-message {
    width: 100%;
    margin-bottom: 1px;
    opacity: 80%;
    position: fixed;
    bottom: 0;
    overflow-x: auto;
    padding: 2px;
    white-space: nowrap;
}

.message-box-container {
    display: flex;
    flex-direction: column;
    margin-top: 60px;
}

.message-box {
    margin-bottom: 50px;
    overflow-y: scroll;
    padding: 10px;
}

.bottom-button {
    padding: 10px 10px;
    font-size: 16px;
    /*text-align: center;*/
    /*text-decoration: none;*/
    background-color: rgb(236, 233, 240);
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 5px;
    width: 40px;
}

.copy-button {
    padding: 5px 5px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    background-color: rgb(236, 233, 240);
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 5px;
    width: 40px;
    float: right;
    clear: both;
    position: relative;
    z-index: 1;
}

.menu-title {
    text-align: center;
    color: white;
}

/* */
.shadow {
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.3), 0 5px 10px 0 rgba(0, 0, 0, 0.2);
}

.fa-spinner {
    margin-top: 5px;
    font-size: 30px;
    color: grey;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
/* Add styles here to customize the appearance of your app */