/* 消息气泡 */
.message {
    display: block;
    max-width: 70%;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 10px;
}

.user-message {
    background-color: #b3d6ff;
    float: right;
    clear: both;
}

.bot-message {
    background-color: #e1e1e1;
    float: left;
    clear: both;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

/* 底部输入框 */
.user-input {
    width: 80%;
    height: 30px
}

.message-box {
    margin-bottom: 50px;
    overflow-y: scroll;
    padding: 10px;
}


.bottom-message {
    width: 100%;
    margin-bottom: 1px;
    opacity: 80%;
    /*box-sizing: content-box;*/
    position: fixed;
    bottom: 0;
    overflow-x: auto;
    padding: 2px;
}

/* Add styles here to customize the appearance of your app */